<div class="layout layout--col layout--left gap--space-between">
  <div id="topRow" class="grid grid--cols-2">
    <div id="userInfo" class="flex flex--left flex--col">
      <div class="flex flex--row flex--top gap--medium items--center">
        <img class="image-dither h--24" style="border-radius: 50%;" src="{{ image }}">
        <div id="userNameFollows" class="grid grid--cols-1">
          <span id="profileName" class="value value--small">{{ name }}</span>
          <div id="followRelationships" class="flex flex--row">
            <div id="following" class="item">
              <div class="content">
                <span class="value value--xsmall value--tnums" data-value-format="true">{{ followed_users_count }}</span>
                <span class="label">Following</span>
              </div>
            </div>
            <div id="followers" class="item">
              <div class="content">
                <span class="value value--xsmall value--tnums" data-value-format="true">{{ followers_count }}</span>
                <span class="label">Followers</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="TopStats" class="grid grid--cols-2">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--tnums" data-value-format="true">{{ status_counts.read }}</span>
          <span class="label">Books Read</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--tnums" data-value-format="true">{{ status_counts.want-to-read }}</span>
          <span class="label">Want To Read</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--tnums" data-value-format="true">{{ status_counts.currently-reading }}</span>
          <span class="label">Currently Reading</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--tnums" data-value-format="true">{{ status_counts.did-not-finish }}</span>
          <span class="label">Did Not Finish</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="title_bar">
  <img id="logo" class="image image-stroke" style="transform: rotate(-12deg)" src="https://wp.hardcover.app/wp-content/uploads/2023/11/Symbol-Dark.png">
  <span class="title">Hardcover</span>
  <span class="instance">{{ name }}</span>
  {% for i in flair %}
  <span class="label label--small label--inverted">{{ i }}</span>
  {% endfor %}
</div>