<style>
  #userMeta > span {
    word-break: break-word;
    word-wrap: break-word;
  }
  .pill {
    border-radius: 5px;
    /* background-color: rgb(203, 203, 203); */
    overflow: hidden;
    gap: 2 !important;
  }

  .pill__label {
    text-align: center;
    padding: 7px 0px 5px 5px;
    min-width: 100px;
  }

  .pill__count {
    background-color: black;
    color: white;
    min-width: 25px;
    text-align: center;
    padding: 7px 5px 5px;
  }

  .pill_large__label {
    text-align: center;
    padding: 5px 10px;
    min-width: 100px;
  }

  .pill_large__count {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
  }
</style>

{% template profile %}
  <div id="profile" class="flex flex--col">
    <div id="userInfo" class="flex flex--row flex--center gap--medium items--center stretch">
      <img class="image-dither h--24" style="border-radius: 10%;" src="{{ image }}">
      <div id="userMeta" class="grid grid--cols-1 gap--xsmall">
        <span id="profileName" class="value value--small">{{ name }}</span>
        <span id="bio" class="description clamp--4">{{ bio }}</span>
      </div>
    </div>

    <div id="followRelationships" class="flex flex--row flex--left w-full">
      {% render 'pill', label: "Following", count: followed_users_count %}
      {% render 'pill', label: "Followers", count: followers_count %}
    </div>
  </div>
{% endtemplate %}

{% template pill %}
  <div class="pill flex flex--row flex--right gap--[5px] stretch bg--gray-6">
    <span class="pill__label value value--xxsmall text-stroke stretch">{{ label }}</span>
    <span class="pill__count value value--xxsmall value--tnums" data-value-format="true">{{ count }}</span>
  </div>
{% endtemplate %}

{% template pill_large %}
  <div class="pill flex flex--col gap--[5px] bg--gray-6">
    <div class="pill_large__count">
      <span class="value value--small value--tnums" data-value-format="true">{{ count }}</span>
    </div>
    <span class="pill_large__label value value--xxsmall text-stroke">{{ label }}</span>
  </div>
{% endtemplate %}

{% template title_bar %}
<div class="title_bar">
  <img id="logo" class="image image-stroke" style="transform: rotate(-12deg)"
    src="https://wp.hardcover.app/wp-content/uploads/2023/11/Symbol-Dark.png">
  <span class="title">Hardcover</span>
  <span class="instance">@{{ username }}</span>
  {% for i in flair %}
  <span class="label label--small label--inverted">{{ i }}</span>
  {% endfor %}
</div>
{% endtemplate %}

{% template goals %}
  <div class="grid grid--cols-3">
    <span class="label col--span-2" data-pixel-perfect="true">Reading Goals</span>
    <!-- <span class="label col--span-1 col--end" id="ratingTotalLabel">2024</span> -->
    <div class="w--full b-h-gray-5 col--span-3"></div>
    <div id="progress" class="row row--start col--span-3 w-full" style=""></div>
  </div>
{% endtemplate %}

{% template last_4_read %}
<span class="label col--span-2 col--center" data-pixel-perfect="true">Last 4 Read</span>
{% endtemplate %}

{% template currently_reading %}
<span class="label col--span-2 col--center" data-pixel-perfect="true">Currently Reading</span>
{% endtemplate %}