<style>
  #userMeta > span {
    word-break: break-word;
    word-wrap: break-word;
  }
  .pill {
    border-radius: 5px;
    /* background-color: rgb(203, 203, 203); */
    overflow: hidden;
    gap: 2 !important;
  }

  .pill__label {
    text-align: center;
    padding: 7px 0px 5px 5px;
    min-width: 100px;
  }

  .pill__count {
    background-color: black;
    color: white;
    min-width: 25px;
    text-align: center;
    padding: 7px 5px 5px;
  }

  .pill_large__label {
    text-align: center;
    padding: 5px 10px;
    min-width: 100px;
  }

  .pill_large__count {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
  }

  .bookshelf {
    overflow: hidden;  
    flex-wrap: nowrap;
  }

  .book__image-wrapper {
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 215px;
    max-width: 145px;
    overflow: hidden;
    border-radius: 5px;
  }

  .book__image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 5px;
  }

  .profile__image {
    border-radius: 10%;
  }

  .rating-stars i {
    font-size: .8rem;
  }

  #bottomRow {
    height: 100%;
    align-items: center;
  }
</style>

{% template profile %}
  <div id="profile" class="flex flex--col">
    <div id="userInfo" class="flex flex--row flex--center gap--medium items--center stretch">
      {% render "image", class: "h--24 profile__image", image: image, height: 96 %}
      <div id="userMeta" class="grid grid--cols-1 gap--xsmall">
        <span id="profileName" class="value value--small">{{ name }}</span>
        <span id="bio" class="description clamp--4">{{ bio }}</span>
      </div>
    </div>

    <div id="followRelationships" class="flex flex--row flex--left w-full">
      {% render 'pill', label: "Following", count: followed_users_count %}
      {% render 'pill', label: "Followers", count: followers_count %}
    </div>
  </div>
{% endtemplate %}

{% template image %}
  {% assign imageHeight = image.height | times: 1.0 %}
  {% assign imageWidth = image.width | times: 1.0 %}
  {% assign ratio = imageWidth | divided_by: imageHeight %}
  {% assign normalisedHeight = height %}
  {% assign normalisedWidth = height | times: ratio %}
  {% assign url = image.url %}
  <img class="image-dither {{ class }}" src="https://img.hardcover.app/enlarge?url={{ url }}&width={{ normalisedWidth }}&height={{ normalisedHeight }}&type=webp" {% if alt %}alt="{{ alt }}"{% endif %}>
{% endtemplate %}

{% template pill %}
  <div class="pill flex flex--row flex--right gap--[5px] stretch bg--gray-6">
    <span class="pill__label value value--xxsmall text-stroke stretch">{{ label }}</span>
    <span class="pill__count value value--xxsmall value--tnums" data-value-format="true">{{ count | default: 0 }}</span>
  </div>
{% endtemplate %}

{% template pill_large %}
  <div class="pill flex flex--col gap--[5px] bg--gray-6">
    <div class="pill_large__count">
      <span class="value value--small value--tnums" data-value-format="true">{{ count | default: 0  }}</span>
    </div>
    <span class="pill_large__label value value--xxsmall text-stroke">{{ label }}</span>
  </div>
{% endtemplate %}

{% template title_bar %}
  <div class="title_bar">
    {% comment %} <img id="logo" class="image image-stroke" style="transform: rotate(-12deg)"
      src="https://wp.hardcover.app/wp-content/uploads/2023/11/Symbol-Dark.png"> {% endcomment %}
    <svg id="logo" class="image image-stroke" style="transform: rotate(-12deg)" width="23" height="29" viewBox="0 0 23 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.467102 4.36471C0.467102 1.96372 2.41346 0.017334 4.8144 0.017334H4.81485H20.0304C21.2309 0.017334 22.204 0.990529 22.204 2.19102V20.6156C22.204 20.6503 22.2032 20.6847 22.2016 20.7189H22.2041V24.7558L22.2036 24.8043V26.8263C22.2036 28.0268 21.2304 29 20.0299 29H4.8144C2.48279 29 0.579891 27.1644 0.471935 24.8595H0.467102V24.6527V24.4198V4.36471ZM20.0305 22.7895H20.0299V26.9299H4.71081C3.5675 26.9299 2.64066 26.003 2.64066 24.8597C2.64066 23.7163 3.5675 22.7895 4.71081 22.7895H13.4377L13.4577 22.7893H20.0304H20.0305V22.7895ZM16.3933 5.80873C16.1659 5.2234 15.3377 5.2234 15.1103 5.80873L14.9857 6.12937C14.913 6.31647 14.7623 6.46252 14.5729 6.52924L14.3333 6.61371C13.7206 6.82962 13.7206 7.69605 14.3333 7.91196L14.5729 7.99643C14.7623 8.06315 14.913 8.2092 14.9857 8.3963L15.1103 8.71694C15.3377 9.30227 16.1659 9.30227 16.3933 8.71694L16.5179 8.3963C16.5906 8.2092 16.7414 8.06315 16.9307 7.99643L17.1704 7.91196C17.783 7.69605 17.783 6.82962 17.1704 6.61371L16.9307 6.52924C16.7414 6.46252 16.5906 6.31647 16.5179 6.12937L16.3933 5.80873ZM10.7633 9.9494C10.9907 9.36407 11.8189 9.36407 12.0463 9.9494L12.758 11.7811C12.8307 11.9682 12.9814 12.1142 13.1707 12.181L14.997 12.8246C15.6096 13.0405 15.6096 13.9069 14.997 14.1228L13.1707 14.7664C12.9814 14.8331 12.8307 14.9792 12.758 15.1663L12.0463 16.998C11.8189 17.5833 10.9907 17.5833 10.7633 16.998L10.0516 15.1663C9.9789 14.9792 9.82815 14.8331 9.63883 14.7664L7.81257 14.1228C7.19992 13.9069 7.19992 13.0405 7.81257 12.8246L9.63883 12.181C9.82815 12.1142 9.9789 11.9682 10.0516 11.7811L10.7633 9.9494Z" fill="#000000"/>
    </svg>

    {% if title %}
      {% assign title_bar_title = "Hardcover - " | append: title %}
    {% else %}
      {% assign title_bar_title = "Hardcover" %}
    {% endif %}
    <span class="title">{{ title }}</span>
    <span class="instance">@{{ username }}</span>

    {% if librarian.size > 0 %}
      {% assign flair = flair | append: " Librarian" %}
    {% endif %}
    {% assign flairs = flair | strip | split: " " %}

    {% for i in flairs %}
    <span class="label label--small label--inverted">{{ i }}</span>
    {% endfor %}
  </div>
{% endtemplate %}

{% template goals %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <div class="grid grid--cols-3">
    {% comment %} <span class="label col--span-2" data-pixel-perfect="true">Reading Goals</span> {% endcomment %}
    <!-- <span class="label col--span-1 col--end" id="ratingTotalLabel">2024</span> -->
    {% comment %} <div class="w--full b-h-gray-5 col--span-3"></div> {% endcomment %}
    <div id="progress" class="row row--start col--span-3 w-full" style=""></div>
  </div>
  <script type="text/javascript">
    var testData = {{ goals | json }}

    // Sort the testData array by the ratio of read to goal in descending order
    testData.sort((a, b) => (b.read / b.goal) - (a.read / a.goal));
    testData = testData.slice(0, 6); // Limit to top 6 items

    // Extract categories and data for Highcharts
    // categories are the titles of the goals
    const categories = testData.map(goal => goal.title);
    const data = testData.map(goal => ({
      // y: Math.min(Math.round((goal.read / goal.goal) * 100), 100),
      y: Math.min((goal.read / goal.goal) * 100),
      label: `${goal.read}/${goal.goal} books`
    }));


    // Initialize chart with bar/column configuration for 4 series
    Highcharts.chart('progress', {
      chart: {
        animation: false,
        type: 'bar',
        height: 200,
        spacing: [0, 0, 0, 0], // top, right, bottom, left
        renderTo: 'container',
      },
      title: {
        text: null
      },
      legend: {
        enabled: false
      },
      tooltip: {
        enabled: false // Disable hover tooltips
      },
      xAxis: {
        categories: categories,
        title: { text: null },
        labels: {
          style: {
            fontSize: '16px',
            fontWeight: 'bold',
            padding: 0
          }
        },
        lineWidth: 0
      },
      yAxis: {
        min: 0,
        max: 100,
        title: { text: 'Progress' },
        labels: { 
          format: '{value}%',
        },
        visible: false,
      },
      plotOptions: {
        series: {
          pointWidth: 30,
          animation: false,
          enableMouseTracking: false,
          states: {
            inactive: {
              opacity: 1 // Prevent dimming of other series on hover
            },
            hover: {
              enabled: false // Disable hover state styling
            }
          },
          stacking: 'normal',
          dataLabels: {
            enabled: true,
            useHTML: true,
            style: {
              fontSize: '16px',
            },
            formatter: function () {
              if (this.point.y === 0) {
                return `<span style="padding-left: 5px;">Not Yet Started</span>`;
              }
              const rounded = Math.round(this.y);
              return `<span class="text" data-pixel-perfect="true">${this.point.label} (${rounded}%)</span>`;
            }
          }
        }
      },
      series: [{
        name: 'Progress',
        color: '#000',
        data: data
      }],
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
    });
  </script>
{% endtemplate %}

{% template bookshelf %}
    {% comment %} <span class="label col--span-2" data-pixel-perfect="true">{{ title }}</span> {% endcomment %}
    {% comment %} <div class="w--full b-h-gray-5 col--span-3"></div> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <div class="bookshelf flex gap--space-between">
      {% for entry in books %}
        {% if filter_ids != nil %}
          {% assign book_id = entry.book.id | append: "" %}
          {% unless filter_ids contains book_id %}
            {% continue %}
          {% endunless %}
        {% endif %}
        <div class="book">
          {% assign book = entry.book %}
          <div class="book__image-wrapper">
            {% assign image = entry.edition.image | default: book.image %}
            {% render "image", class: "book__image", image: image, height: 215, alt: book.title %}
          </div>

          {% if book.rating != nil and book.rating != '' %}
            <span class="book__rating stars flex flex--row flex--center-x">
              {% assign rating = book.rating | plus: 0 %}
              {% assign full_stars = rating | floor %}
              {% assign has_half = rating | modulo: 1 %}
              {% assign half_star = 0 %}
              {% if has_half >= 0.5 %}
                {% assign half_star = 1 %}
              {% endif %}
              {% assign empty_stars = 5 | minus: full_stars | minus: half_star %}

              <span class="rating-stars" data-pixel-perfect="true">
                {% for i in (1..full_stars) %}
                  <i class="fas fa-star"></i>
                {% endfor %}
                {% if half_star == 1 %}
                  <i class="fas fa-star-half-alt"></i>
                {% endif %}
                {% for i in (1..empty_stars) %}
                  <i class="far fa-star"></i>
                {% endfor %}
              </span>
            </span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
{% endtemplate %}
